@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

html {
   font-family: sans-serif;
   background-color: #3b4252;
}

body,
html {
   height: 100vh;
}

nav {
   background-color: #434c5e;
}

body {
   color: #e5e9f0;
   background-color: #3b4252;
}

.logo {
   margin-left: auto;
   margin-right: auto;
}

.inscription {
   margin-left: auto;
   margin-right: auto;
   background-color: #3b4252;
   width: 15em;
   height: 85vh;
}

.inscription label {
   color: #e5e9f0;
}

.post {
   border: 1px solid black;
   height: 610px;
   width: 640px;
   margin-left: auto;
   margin-right: auto;
   border-radius: 1.5%;
   display: flex;
}

.vote button {
   background: transparent;
   border: transparent;
}

.info {
   height: 30px;
   width: 550px;
}

.title {
   font-size: 24px;
   height: 50px;
   width: 550px;
}

.contenue {
   height: 80%;
   width: 550px;
}

#title_post {
   width: 200px;
}

#desc_post {
   width: 300px;
}

/* CSS de kaorie */
footer {
   background: #ccc;
   background-color: #2e3440;
   font-family: oswald;
   font-size: 12px;
}

.menu ul li {
   position: relative;
}

.menu {
   text-transform: uppercase;
   color: #626262;
   height: 4em;
   background-color: #2e3440;
   width: 100%;
}

li {
   list-style: none;
   font-style: small-caps;
   font-size: 1.2em;
   display: inline-block;
   margin-top: 1em;
   margin-right: 4%;
}

.sous {
   display: none;
   background-color: lightgrey;
   position: absolute;
   z-index: 1000;
   right: auto;
   left: 50%;
   -webkit-transform: translate(-50%, 0);
   -o-transform: translate(-50%, 0);
   transform: translate(-50%, 0);
}

.menu>ul li:hover .sous {
   display: block;
   background-color: #2e3440;
}

.sous li {
   float: none;
   width: 12em;
   text-align: left;
   font-size: 0.7em;
   margin-bottom: 0.3em;
   margin-left: 0px;
   list-style-type: none;
}

.sous a {
   margin-bottom: 0.2em;
   margin-top: 0.2em;
}

.sous a:hover {
   color: orange;
   list-style-type: none;
}

#firstli {
   padding-top: 0.5em;
}

ul {
   list-style-type: none;
}

li a {
   display: block;
   color: lightgray;
}

#publier {
   margin-top: 0.5em;
}

h1 {
   text-align: center;
   font-family: 'Oswald', sans-serif;
   padding-bottom: 5px;
   padding-top: 1em;
}
