html {
    font-family: sans-serif;
    background-color: #3b4252;
}
nav {
    background-color:#434c5e;
}

body{
    background-color: #3b4252;
}
.logo {
    margin-left: auto;
    margin-right: auto;
}

.gp-bt-log {
    position: fixed;
    margin-left: auto;
}

.inscription {
    margin-left: auto;
    margin-right: auto;
    background-color: #3b4252;
    width: 15em;
}
.inscription label {
    color: #e5e9f0;
}

.post {
    border: 1px solid black;
    height: 610px;
    width: 640px;
    margin-left: auto;
    margin-right: auto;
    background-color: aqua;
    display: flex;
}

.vote {
    background-color: red;
    width: 40px;
    height: auto;
}
.vote button {
    background: transparent;
    border: transparent;
}
.corps {
    background-color:blue;

}
.info {
    background-color:green;
    height: 30px;
    width: 600px;
}

.title {
    font-size: 24px;
    background-color: black;
    height: 50px; 
}

.contenue {
    background-color: yellow; 
    height: 80%;
}