@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html, body {
    position: relative;
    font-family: sans-serif;
    min-height: 100vh;
    margin: 0;
    padding : 0;
    background-color: #F7F6EE;
}

.main {
    min-height: 69.70vh;
}

/* Navigation bar */
nav {
    background-color: #F7F6EE;
}

.button-menu {
    bottom: 30px;
}
.logo {
    width: 100%;
    justify-content: center;
}
.red_line-nav {
    background-color: #e8606b;
    height: 10px;
    top: 30px;
}
.submit-button {
    background: transparent;
    border: transparent;
}

/* Inscription form*/
.inscription {
    margin-left: auto;
    margin-right: auto;
    background-color: #F7F6EE;
    width: 15em;
}

.inscription label {
    color: #000000;
}

.post {
    padding: 0;
    border: 1px solid black;
    height: 610px;
    width: 640px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto', sans-serif;
    overflow-wrap: break-word;
    background-color: #ffffff;
    color: #000000;
}
.corps {
    width: 100%;
}

.vote button {
    background: transparent;
    border: transparent;
}
.vote {
    display: flex;
}
button {
    border: transparent;
}
.info {
    background-color: #e8606b;
    height: 30px;
    display: flex;
}

.title {
    position: relative;
}

.contenue {
    height: calc(100% - 168px);
    position: relative;
    text-align: justify;
}
.interaction {
    background-color: #e8606b;
}
.interaction button {
    background: transparent;
}

#title_post {
    width: 200px;
}

#desc_post {
    width: 300px;
}

/* Footer  */
footer {
    bottom: 0;
    width: 100%;
    color: #000000;
    background-color: #99DEDF;
    font-size: 14px;
}
footer a {
    color: #e8606b;
}

/* Menu  */
.menu ul li {
    position: relative;
    color: #000000;
}

.menu {
    text-transform: uppercase;
    height: 4em;
    background-color: #F7F6EE;
    width: 100%;
}
.menu a {
    color: #000000;
}

li {
    list-style: none;
    font-size: 1.2em;
    display: inline-block;
    margin-top: 1em;
    margin-right: 4%;
}

.sous {
    display: none;
    background-color: lightgrey;
    position: absolute;
    z-index: 1000;
    right: auto;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    border: 1px solid black;
}

.menu>ul li:hover .sous {
    display: block;
    background-color: #F7F6EE;
}

.sous li {
    float: none;
    width: 12em;
    text-align: left;
    font-size: 0.7em;
    margin-bottom: 0.3em;
    margin-left: 0px;
    list-style-type: none;
}

.sous a {
    margin-bottom: 0.2em;
    margin-top: 0.2em;
}

.sous a:hover {
    color: orange;
    list-style-type: none;
}


#firstli {
    padding-top: 0.5em;
}

ul {
    list-style-type: none;
}

li a {
    display: block;
    color: lightgray;
}

#publier {
    margin-top: 0.5em;
}

h1 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    padding-bottom: 5px;
    padding-top: 1em;
}

#profiloption {
    width: 60%;
}

/* Profile */
.profil {
    width: 40em;
    font-size: 14px;
    text-align: justify;
}
.content-profil {

}

.profile button {
    justify-content: flex-end;
}
/* Comment and replies section */
.comment {
    border: 1px solid black;
    width: 428px;
    height: 10em;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1.5%;
    font-family: 'Roboto', sans-serif;
}
.replies {
    height: 2.5em;
}
.add_comment{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
.content {
    max-width: 100%;
    line-height: 1.5;
    font-size: 18px;
    overflow-wrap: break-word;
    justify-content: normal;
}

/* Menu and footer line */
.red_line {
    background-color: #e8606b;
    width: 100%;
    height: 5px;
}

.yellow_line {
    background-color: #FCD068;
    width: 100%;
    height: 5px;
}

.blue_line {
    background-color: #99DEDF;
    width: 100%;
    height: 5px;
}
