#--------------------------------------------------
# Répertoire : /public/
#--------------------------------------------------
Options +FollowSymlinks

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.*)$ suite.php?post=$1 [L]

ErrorDocument 404 /404.php
